/* Override the default theme color */
.cs-message__content {
    color: rgba(0, 0, 0, 1);
    background-color: #D9D0DE;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cs-message-input__content-editor-wrapper {
    box-sizing: border-box;
    position: relative;
    background-color: #C396AB;
    margin: 0;
    padding: 0.6em 0.9em;
    border-radius: 0.7em;
    flex-grow: 1;
    color: rgba(255, 255, 250);
}

.cs-message-input__content-editor {
    background-color: #C396AB;
    color: rgba(255, 255, 250);
}

.robot-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    transition: color 0.5s, font-size 0.5s, transform 0.5s;
    /* Smooth transition for hover effect */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px
}

.robot-title:hover {
    color: #C396AB;
    /* Change color on hover */
    font-size: 28px;
    /* Scale up on hover */
}

.cs-avatar {
    cursor: pointer;
}

.cs-button--attachment,
.cs-button--send {
    color: rgba(0, 0, 0, 0.8);
}

.cs-message-separator {
    color: #C396AB;
}

.cs-message-separator::before,
.cs-message-separator::after {
    background-color: #C396AB;
}

.cs-message--outgoing .cs-message__content {
    color: rgba(0, 0, 0);
    background-color: #BC8DA0;
    border-radius: 0.7em 0.7em 0.7em 0.7em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes jump {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        /* Keep the icon at the same position */
    }

    40% {
        transform: translateY(-15px);
        /* Jump up */
    }

    60% {
        transform: translateY(-10px);
        /* Rebound slightly */
    }
}

.icon {
    /* Set the icon's initial position */
    transform: translateY(0);
    /* Apply the animation with a duration of 1 second, set to repeat 3 times */
    animation: jump 5s ease-in-out infinite;
    height: 50
}